.waterfall-flow {
  min-width: 950px;

  .item {
    background-color: #ffffff;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
    display: inline-block;
  }
  img {
    width: 100%;
    display: block;
    font-size: 16px;
  }
}
